*.log
*.aux
*.bbl
*.blg
*~
*.dvi
*.ps
.RData
.RHistory
*.7z
*.toc
*.out
res-doc.pdf
res-doc.lof
res-doc.lot
doc/figure
doc/res-doc.tex
doc/knitr-cache
models
models-backup
models-mwe
models-arrowtooth
*-concordance.tex
*.synctex.gz