*.log
*.aux
*.bbl
*.blg
*~
*.dvi
*.ps
.RData
.RHistory
*.7z
*.toc
*.out
resDoc.pdf
resDoc.lof
resDoc.lot
doc/figure/*
doc/resDoc.tex
doc/knitr-cache/
models/
models-backup/
models-mwe/
Grandin-Arrowtooth-CSAS-ResDoc-March07-2017-WebAccessible.pdf
