*.log
*.aux
*.bbl
*.blg
*~
~$*
*.dvi
*.ps
.RData
.RHistory
*.7z
*.toc
*.out
*.vrb
*.nav
*.snm
res-doc.pdf
res-doc.lof
res-doc.lot
doc/figure
doc/res-doc.tex
doc/knitr-cache
res-doc.synctex(busy)
Presentation.synctex(busy)
models-backup
models-mwe
models-arrowtooth
*-concordance.tex
*.synctex.gz
.DS_Store
doc/knitr-cache/
models-backup/
models-mwe/
Grandin-Arrowtooth-CSAS-ResDoc-July-2017-WebAccessible.pdf
Grandin-Arrowtooth-CSAS-ResDoc-March07-2017-WebAccessible.pdf
doc/maindoc/figures/ARF-1996-2014-CPUE-eps-converted-to.pdf
.Rproj.user
*.Rproj
doc/eso-pic.sty
doc/pdfpages.sty
retrospectives/
Presentation.pdf
Presentation.tex